[package]
name = "pcloud-cli"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pcloud = { path = "../lib", version = "^0.1" }
#
clap = { version = "3.0.0-beta.2" }
env_logger = { version = "^0.8" }
exitcode = { version = "^1.1" }
log = { version = "^0.4" }
tokio = { version = "^1.9", features = ["macros", "rt-multi-thread"] }
